#NavHeader{
    background-color: #333;
    color: white;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0px 0px 0px;
    top: 0px;
    position:inherit;    
    z-index: 100px;
}
.Nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.Nav button{
    background-color: #333;
    border: none;
    padding-left: 10px ;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    
}
.Nav button:hover{
    background-color: #111;
}
.Nav li{
    float: right;
    margin-left: 20px;
    list-style-type: none;
}
.Nav a{
    color: white;
    text-decoration: none;
    
    
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
#AboutUS a{
    color: light rgb(0, 89, 255);
    text-decoration: none;
}
.SS{
    max-height: 481px;
    max-width: 550px;
    padding-left: 10px;
    height: 250px;
    width: 300px;
    z-index: -1;
}
#PicBG
{
    height:500px;
    width:auto;
    background-image:linear-gradient(to bottom, white, black);
    z-index:-2;
}
#Gradient
{
    height:auto;
    width:auto;
    background-image:linear-gradient(to bottom, black, white);
    margin-top: -20px;
    
}
#Home{
    height:auto;
    width:auto;
    background-color: black;
}
#AboutUS
{
    color: rgb(192, 192, 192)
}
#Services
{
    color: rgb(64, 64, 64)
}